body {
  background-color: rgb(194, 191, 191);
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10px;
  width: 80vw;
  height: 95vh;
  background-color: rgba(193, 243, 247, 0.966);
  border-radius: 20px 20px;
  border: 5px double rgb(7, 219, 226);
}

.generalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
  height: 250px;
  margin-top: 10px;
  border-radius: 10px 10px;
  /* border: 1px solid green; */
}

.img-namePatient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10vw;
  height: 250px;
  border-radius: 10px 0px 0px 10px;
  background-color: rgba(69, 143, 145, 0.26);
  /* border: 1px solid red; */
}

.imgPatient {
  display: flex;
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px black;
}

.generalInfoPatient {
  display: flex;
  width: 65vw;
  height: 250px;
  border-radius: 0px 10px 10px 0px;
  background-color: rgba(69, 143, 145, 0.26);
  /* border: 1px solid blue; */
}

.generalInfoPatient span {
  padding: 10px;
}

.medicalInfo {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 600px;
  margin-top: 10px;
  border-radius: 10px 10px;
  background-color: rgba(69, 143, 145, 0.26);
}

.medicalInfoTabs {
  display: flex;
  flex-direction: column;
  width: 75vw;
  height: 550px;
  border-radius: 10px 10px;
}

.buttonContainer{
    display: flex;
    width: 75vw;
    justify-content: center;
}

.nav-item,
.nav-tab {
  background-color: rgba(69, 143, 145, 0.26);
}

.antecede-tab {
  border-radius: 10px 0px 0px 0px;
}
