.colorPrincipal {
    background-color: rgb(26, 164, 168);
}

#search_clear {
    background-color: rgb(26, 164, 168);
    margin: 2%;
    padding: 20px;
}

.container_buscar-agregar {
    display: flex;
    mix-blend-mode: hard-light;
    justify-content: space-between;
}
.agregarPaciente {
    
}

.logo{
    margin-left: 10px;
  }

button {
    border: thick;
}

.color {
    background-color: yellow;
}




#add__container {
    display: flex;
    justify-content: center;
}
#add {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
}
.add__item {
    overflow-y: scroll;
    height: 60vh;
    margin: 1.5rem 0 1.7rem;
}
.add__title {
    text-align: center;
    width: 100%;
    display: table;
    text-decoration: none;
}
/* .navbar__links:hover {
    color: #8656bd;
} */
.add__div {
    margin: 0;
    width: 100%;
    position: absolute;
    top: -2000px; 
    opacity: 1;
    transition: all 0.05s ease;
    z-index: -1;
    background: rgb(255, 255, 255);
}
.add__div.active {
    /* background: #131313; */
    /* top: 100px; */top: 10%;
    opacity: 1;
    transition: .15s ease-in-out;
    z-index: 99;
    width: 600px;
    margin: 0 -20px;
    border-radius: 0.5rem;
    border-width: 1px;
    /* height: 300px; */
    /* font-size: 1.6rem; */
    /* display: flex;
    flex-direction: column; */
}
#submit {
    /* width: 85px;
    margin: auto;
    margin-right: 0;
    float: right; */
}